                <!DOCTYPE html>
                <html>

                <head>
                    <title>Orders List</title>
                    <link href="/../style.css" rel="stylesheet">
                    <script src="/../js/all.js" type="text/javascript"></script>

                </head>

                <body>
                    <h2 align="center">View Orders</h2>


                    <span class="login"><h4>Welcome: </h4><strong><h1><%=sess.firstname%>&nbsp;<%=sess.lastname%></h1><strong></span>

                    <div class="page-container">
                        <div class="page-data">
                            <div class="data-btn"></div>

                            <div class="data-table" align="center">
                                <a button class="btn btn-primary" href="/home">Home</a><span>
                                <a button class = "btn btn-warning" href="/products">View Products</a><span>
                                <a button class = "btn btn-info" href="/orders">View Orders</a><span>
                                
                               <!-- <a button class = "btn btn-success"  href="/orders/add">Add Orders</a><span>-->
                                
                                    <hr>
                                    
                                    <ul>
                                    <li>
                                    <a href="/logout" role="button" class=""> Logout</a>
                                    </li>
                                   </ul>
                                
                                <table border="1" cellpadding="17" cellspacing="7" aLIGN="center">
                                    <tr>
                                        <th width="50px">No</th>

                                        <th>User Name</th>

                                        <th>Prouct id</th>
                                        <th>Order Quantity</th>
                                        <th>Total Price</th>
                                        <th>Delivery Status</th>
                <!--                         <th>Edit</th>-->
                                    </tr><%for(var i=0;i<data.length;i++){ %>

                                    <tr>
                                        <td width="50px"><%=i+1 %></td>

                                        <td><a href="/view/orders/<%=data[i].username %>"><%=data[i].username%></a></td>
                                             
                                        <td><%=data[i].product_id %></td>

                                        <td><%=data[i].orderQuantity %></td>
                                        
                                        <td><%=data[i].totals %></td>
 
                                          <% if(data[i].isDelivered == 1){%>
                                            
                                        <td><a button class="btn btn-success" href="#">Delivered</td>
                                        
                                        <% }else{
                                        %>

                                        <%if(data[i].isCancelled == 1){%>
                                             <td><a button class="btn btn-danger" href="#">Cancelled</td>

                                             <%} else{%>
                                            <td><a button class="btn btn-warning" href="#">Under Process</td>
                                        <% }}
                                        %>
                                    </tr><%}%>
                                </table>
                            </div>
                        </div>
                    </div>
                </body>

                <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
                <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
                <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script
                    src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

                </html>